<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header"></head>

    <body>
    <div th:switch="${team}" class="container">
        <div th:case="*" class="block">
            <h1 class="">Registration Screen</h1>
            <div class="content">
                <a id="team" th:href="@{/team}" class="btn btn-primary">
                    <i class="fas fa-users"></i>
                    Team
                </a>

                <a id="member" th:href="@{/signupmember}" class="btn btn-primary">
                    <i class="fas fa-user-plus"></i>
                    Member
                </a>
            </div>
        </div>
    </div>


    <th:block th:replace="fragment/scripts :: script"/>
    </body>
</html>