<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> List Member</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="member : ${members}">
            <tr>
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td>
                    <a th:href="@{/editmember/{id}(id=${member.id})}" class="btn btn-primary">
                        <i class="fas fa-team-edit"></i> Edit
                    </a>
                </td>
                <td>
                    <a th:href="@{/deletemember/{id}(id=${member.id})}" class="btn btn-primary">
                        <i class="fas fa-teams"></i> Delete
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div style="text-align:right">
        <a th:href="@{/signupmember}" class="btn btn-success" > Insert</a>
    </div>
</div>
</body>
</html>