<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"></head>
<body th:replace="fragment/layout"></body>
<div class="container my-5">
    <h2 class="mb-5">Update Member</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/updatemember/{id}(id=${member.id})}" th:object="${member}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-success" value="Confirm">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragment/scripts :: script"/>
</body>
</html>