

*, html {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    weight: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
  width: 960px;
  height: 500px;
  background: gray;
  border-radius: 5px;
  padding: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block > h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

a {
  border: 2px solid red;
  padding: 6px;
  width: 45%;
  text-align: center;
  border-radius: 5px;

  cursor: pointer;
  font-weight: bold;
  margin-bottom: 80px;
}

a:hover {
  background: red;
}

.content {
  display: flex;
  justify-content: space-between;
}










/*
body{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
    text-align: center;

}

table{
    border-collapse: ;
    background:#FFFFF0;
    border: solid black 3px;
 }

 div{
     width: 1000px;
     margin: 0 auto;
 }

p{
    text-align: justify;
    text-indent: 50px;
}

h1{
    text-align: justify;
    text-indent: 200px;
}

.btn{
    display: inline;
    box-shadow: rgba(0, 0, 0, 1);
    border-radius: 30px;
    border: 0;
    background: rgba(0, 0, 0, 1);
    padding: 10px 30px;
}
*/



