*, html {
    font-family: 'Roboto', sans-serif;
}

.container-flex {
    width: 100%;
    height: 100vh;
    width: 100vw;

    display: flex;
}

/*---------- Side Bar ----------*/
.sidebar {
    width: 250px;
    background-color: #007bff;
    height: 100%;
    padding-top: 20px;
}

.sidebar > .logo a {
    display: flex;
    flex: 1;
    justify-content: center;
}

.sidebar > .logo img {
    width: 30%;
}

.content {
    margin-top: 60px;
}

.content ul {
    list-style: none;
}

.content > ul > li {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.content > ul > li a {
    color: white;
    text-decoration: none;
}

i {
    width: 28px;
    font-size: 16px;
}

/*---------- content-area ----------*/
.content-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 80px 20px 50px 20px;
}

th.title {
    color: white;
}

table {
    text-align: center;
}

/*---------- content-form ----------*/
.content-form {
    width: 100%;
    border-radius: 4px;
}

.content-form > form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 400px;
    flex-direction: column;
}

div.form-group > select {
    border: none;
    padding: 5px;
}

/*---------- error ----------*/
.error-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-box img {
    width: 400px;
    height: auto;
}