<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header">
        <title th:text="${status} + ' - ' + ${error}"></title>
    </head>
    <body>
        <div class="container-flex">
            <div class="error-box">
                <img th:src="@{/img/error.png}" alt="Error">
                <div class="error-code" th:text="${status}"></div>
                <div class="error" th:text="${message}"></div>
                <div class="error-back"><a th:href="@{/}">Home</a></div>
            </div>
        </div>
        <th:block th:replace="fragment/scripts :: script"/>
    </body>
</html>