<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"></head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <a th:href="@{/}" class="btn btn-primary"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger mt-5" role="alert">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

<th:block th:replace="fragment/scripts :: script"/>
</body>
</html>