<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header"></head>
    <body>

        <div class="container-flex">
            <div th:replace="fragment/layout"></div>

            <div class="content-area">
                <table class="table table-striped">
                    <thead>
                    <tr class="bg-primary">
                        <th class="title">ID</th>
                        <th class="title">Name</th>
                        <th class="title">Members</th>
                        <th class="title">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="team : ${teams}">
                        <tr>
                            <td th:text="${team.id}"></td>
                            <td th:text="${team.name}"></td>
                            <td>
                                <a th:href="@{/listmembers/{id}(id=${team.id})}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Members
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/editteam/{id}(id=${team.id})}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <a th:href="@{/deleteteam/{id}(id=${team.id})}" class="btn btn-primary">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div style="text-align:right">
                    <a th:href="@{/signupteam}" class="btn btn-success" >
                        <i class="fas fa-plus-circle"></i> Insert
                    </a>
                </div>
            </div>
        </div>
        <th:block th:replace="fragment/scripts :: script"/>
    </body>
</html>