<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header"></head>
    <body>

    <div th:switch="${team}" class="container-flex">
        <div th:replace="fragment/layout"></div>

        <div class="content-area">
            <div class="content-form">
                <h2>Insert Member</h2>
                <br />
                <form action="#" th:action="@{/addmemberteam}" th:object="${member}" method="post">
                    <div class="form-group">
                        <label for="inputName">Name team</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name" th:field="*{name}">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>

                        <input type="hidden" th:value="${teams.id}" name="team">
                    </div>

                    <input type="submit" class="btn btn-success" value="Register" />
                </form>
            </div>
        </div>

        <th:block th:replace="fragment/scripts :: script"/>
    </body>
</html>