<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"></head>
<body th:replace="fragment/layout"></body>

    <div class="container">
    <table class="table">
             <thead>
                <tr>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
                <tbody>
                    <th:block th:each="member : ${members}">
                        <tr>
                            <td th:text="${member.id}"></td>
                            <td th:text="${member.name}"></td>
                            <td>
                                <a th:href="@{/editmember/{id}(id=${member.id})}" class="btn btn-primary">
                                    <i class="fas fa-team-edit"></i> Update
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/deletemember/{id}(id=${member.id})}" class="btn btn-primary">
                                    <i class="fas fa-teams"></i> Delete
                                </a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        <div style="text-align:right">
            <a th:href="@{/signupmemberteam/{id}(id=${teams.id})}" class="btn btn-success" > Insert</a>
        </div>
         </div>

        <th:block th:replace="fragment/scripts :: script"/>
    </body>
</html>