<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"></head>
<body>
<div th:switch="${team}" class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <form action="#" th:action="@{/addteam}" th:object="${team}" method="post">
                <input type="text" class="form-class" th:field="*{name}" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                <input type="submit" class="btn btn-success" value="Register">
            </form>

        </div>
    </div>
</div>

<th:block th:replace="fragment/scripts :: script"/>
</body>
</html>